body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: aqua;
}
.general-container {
    width: 460px;
    padding: 10px 10px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
}
.input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 35px;
}
.input-container input {
    width: 300px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid gray;
    opacity: 0.6;
}
.button {
    cursor: pointer;
    border: 2px solid rgb(122, 119, 119);
    opacity: 0.6;
    border-radius: 5px;
    margin-left: 10px;
    width: 70px;
    height: 35px;
}
.button:focus {
    outline: none;
}
.button:hover {
    background: aqua;
    color: #fff;
}
.general-container input:focus {
    outline: none;
}
.big-title {
    padding-bottom: 10px;
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
    color: blue;
}.text-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 423px;
    opacity: 0.6;
}
.box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 18px;
    border-top: 1px solid gray;
    padding-top: 10px;
    padding-bottom: 10px;
}
.box:first-child {
    border-top: 1px solid gray;
    margin-top: 5px;
}
.trash {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.text-container ol li {
    font-weight: 700;
}
.line-through {
    text-decoration: line-through;
    opacity: 0.7;
}
.todo-list li {
    cursor: pointer;
}